.navbar {
  background-color: #f55a5a;
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_title,
.icon_public {
  font-size: 40px;
  color: rgb(255, 255, 255);
  padding: 5px;
}
